/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
    color: blue;
}

h2 {
    color: blue;
}

h3 {
    color: green;
    display: inline;
    padding: 20px;
}